extract/target/
extract-connector-easysdiv4/target/
extract-interface/target/
extract-task-archive/target/
extract-task-email/target/
extract-task-fmedesktop/target/
extract-task-fmeserver/target/
extract-task-reject/target/
extract-task-remark/target/
extract-task-validation/target/
.idea/
*.iml
CLAUDE.md
.claude/
