<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/masterNoNavigation}">
    <head>
        <title>[[#{application.name}]]</title>
    </head>
    <body>
        <div class="container-fluid">
            <th:block layout:fragment="content">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="login-card card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <img src="../static/images/extract_logo.png" th:src="@{/images/extract_logo.png}" />
                                    <span class="login-card-title" th:text="#{login.body.title}">{Login}</span>
                                </h3>
                            </div>
                            <div class="card-body">
                                <form role="form" method="POST" action="#" th:action="@{/login}">
                                    <div class="alert alert-danger" th:if="${error}" th:text="${#messages.msg(error)}">
                                    </div>
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="{Login}"
                                                   th:placeholder="#{login.fields.username.placeholder}"
                                                   name="username" type="text" th:value="${submittedName} ?: ''"
                                                   autofocus="autofocus" />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" placeholder="{Password}"
                                                   th:placeholder="#{login.fields.password.placeholder}"
                                                   name="password" type="password" value="" />
                                        </div>

                                        <!-- Change this to a button or input when using this as a form -->
                                        <button id="loginButton" class="btn btn-xl btn-extract-filled btn-block"
                                                th:text="#{login.actions.submit}">
                                            {Log in}
                                        </button>
                                    </fieldset>
                                </form>
                                <div style="margin-top: 15px">
                                    <a href="../passwordReset/request" th:href="@{/passwordReset/request}"
                                       th:text="#{login.actions.forgotten}">{Forgot your credentials?}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </body>
</html>