<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">
    <head>
        <title>
            [[#{application.name}]]
        </title>
        <th:block layout:fragment="customStyleIncludes">
            <link href="../../static/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
                  th:href="@{/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css} + '?v=@@datatablesLibVersion@@'"
                  rel="stylesheet" type="text/css" />
            <th:block layout:fragment="additionalStyleIncludes" th:remove="all"></th:block>
        </th:block>
    </head>
    <body>
        <div id="wrapper">
        </div>
        <th:block layout:fragment="customScriptIncludes">
            <script th:src="@{/lib/datatables.net/js/dataTables.min.js} + '?v=@@datatablesLibVersion@@'"
                    src="../../static/lib/datatables.net/js/dataTables.min.js"
            type="text/javascript"></script>
            <script th:src="@{/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js} + '?v=@@datatablesLibVersion@@'"
                    src="../../static/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"
            type="text/javascript"></script>
            <script th:src="@{/js/datatableConfig.js} + '?v=@@applicationVersion@@'"
                    src="../../static/js/datatableConfig.js"
            type="text/javascript"></script>
            <th:block layout:fragment="additionalScriptIncludes"></th:block>
        </th:block>
        <th:block layout:fragment="customScripts">
            <script type="text/javascript" th:inline="javascript">
                /**
                 * Global configuration object for Extract application
                 * Contains i18n messages and paths injected by Thymeleaf template
                 */
                var EXTRACT_CONFIG = {
                    language: /*[[${language}]]*/ 'fr',
                    datatables: {
                        i18nPath: /*[[@{/lib/datatables.net-plugins/i18n/}]]*/ '/lib/datatables.net-plugins/i18n/'
                    },
                    messages: {
                        errors: {
                            ajaxError: {
                                title: /*[[#{errors.ajax.title}]]*/ 'Erreur de connexion',
                                message: /*[[#{errors.ajax.message}]]*/ 'Une erreur est survenue lors de la mise à jour des demandes en cours'
                            }
                        }
                    }
                };

                // Legacy support: LANG_MESSAGES for backward compatibility
                var LANG_MESSAGES = EXTRACT_CONFIG.messages;
            </script>
            <th:block layout:fragment="additionalScripts"></th:block>
        </th:block>
    </body>
</html>
