<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>{Extract}</title>
    </head>
    <body>
        <th:block th:if="${statusMessage} != null" th:switch="${statusMessage.messageType}"
                  th:fragment="dismissibleMessage">
            <div th:case="${T(ch.asit_asso.extract.web.Message.MessageType).ERROR}"
                 class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-bs-toggle="tooltip"
                        th:attr="aria-label=#{message.close}" th:title="#{message.close}" title="{Close}">
                </button>
                <th:block th:text="${#messages.msg(statusMessage.messageKey)}"></th:block>
            </div>
            <div th:case="${T(ch.asit_asso.extract.web.Message.MessageType).SUCCESS}"
                 class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-bs-toggle="tooltip"
                        th:attr="aria-label=#{message.close}" th:title="#{message.close}" title="{Close}">
                </button>
                <th:block th:text="${#messages.msg(statusMessage.messageKey)}"></th:block>
            </div>
            <div th:case="${T(ch.asit_asso.extract.web.Message.MessageType).WARNING}"
                 class="alert alert-dismissible alert-warning">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-bs-toggle="tooltip"
                        th:attr="aria-label=#{message.close}" th:title="#{message.close}" title="{Close}">
                </button>
                <th:block th:text="${#messages.msg(statusMessage.messageKey)}"></th:block>
            </div>
            <div th:case="*"
                 class="alert alert-dismissible alert-info">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" data-bs-toggle="tooltip"
                        th:attr="aria-label=#{message.close}" th:title="#{message.close}" title="{Close}">
                </button>
                <th:block th:text="${#messages.msg(statusMessage.messageKey)}"></th:block>
            </div>
        </th:block>
    </body>
</html>
